@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all;
  transition-duration: 0.3s;
}

html {
  background-color: #141414;
}
h2 {
  font-size: 5em;
  font-weight: bold;
}
span {
  color: #ff8800;
}
li {
  cursor: pointer;
}
li:hover {
  color: aliceblue;
}

h5 {
  font-size: 5em;
  font-style: italic;
  -webkit-text-stroke: 0.5px rgb(255, 191, 157);
  color: transparent;
}

@media (max-width: 1250px) {
  h2 {
    font-size: 4em;
  }
}

@media (max-width: 640px) {
  .header {
    text-align: center;
  }
}
