@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  color: #141414;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

svg{
  fill:rgb(255, 255, 255)
}

svg:hover{
  fill:rgb(226, 130, 66)
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

h3 {
  font-family: "Scada", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.navbarMain {
  width: 300px;
  height: 600px;
  background-color: rgba(255, 141, 75, 0.849);
  display: flex;
}

li {
  cursor: pointer;
  transition: all;
  transition-duration: 500ms;
}
span {
  color: rgba(255, 141, 20);
}

li:hover {
  color: rgb(230, 230, 255);
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.scada-regular {
  font-family: "Scada", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.scada-bold {
  font-family: "Scada", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.scada-regular-italic {
  font-family: "Scada", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.scada-bold-italic {
  font-family: "Scada", sans-serif;
  font-weight: 700;
  font-style: italic;
}

h5 {
  color: #141414;
  font-size: 2.5em;
  -webkit-text-stroke-color: rgb(255, 115, 0);
  -webkit-text-stroke-width: 0.5px;
}

/* .bg-footer{
  mask-image: 
    linear-gradient(red -200%,transparent )
  
  
}
 */

 .portrait-primary{
  display: flex;
  flex-direction: column;
 }

 .landscape-primary{
  display: flex;
  flex-direction: row;
 }

 .box {
  flex-direction: row;  
  width: 90vw;
  gap:10
}
.wrapper-box{
  align-items: start;
}


 @media screen and (max-width: 550px) {
  .box {
    flex-direction: column;  
    gap: 10;
    text-align: center;
    justify-content: center;
  }
  .wrapper-box{
    align-items: center;
  }
}