@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  color: #141414;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

svg {
  fill: rgb(255, 255, 255);
}

svg:hover {
  fill: rgb(226, 130, 66);
}

h2 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

h3 {
  font-family: "Scada", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.navbarMain {
  width: 300px;
  height: 600px;
  background-color: rgba(255, 141, 75, 0.849);
  display: flex;
}

li {
  cursor: pointer;
  transition: all;
  transition-duration: 500ms;
}
span {
  color: rgba(255, 141, 20);
}

li:hover {
  color: rgb(230, 230, 255);
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.scada-regular {
  font-family: "Scada", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.scada-bold {
  font-family: "Scada", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.scada-regular-italic {
  font-family: "Scada", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.scada-bold-italic {
  font-family: "Scada", sans-serif;
  font-weight: 700;
  font-style: italic;
}

h5 {
  color: #141414;
  font-size: 2.5em;
  -webkit-text-stroke-color: rgb(255, 115, 0);
  -webkit-text-stroke-width: 0.5px;
}

/* .bg-footer{
  mask-image: 
    linear-gradient(red -200%,transparent )
  
  
}
 */

.portrait-primary {
  display: flex;
  flex-direction: column;
}

.landscape-primary {
  display: flex;
  flex-direction: row;
}

.box {
  flex-direction: row;
  width: 90vw;
  gap: 10;
}
.wrapper-box {
  align-items: start;
}

@media screen and (max-width: 1300px) {
  .box {
    flex-direction: column;
    gap: 10;
    text-align: center;
    justify-content: center;
  }
  .wrapper-box {
    align-items: center;
  }
  .img-woman {
    margin-left: -150px;
    margin-top: -100px;
  }
  .cnt-woman {
    flex-direction: column;
    margin-top: 50px;
  }
  .tupotencial {
    margin-top: -200px;
  }
  .nuestroequipo {
    z-index: 50;
    margin-top: -525px;
    align-items: center;
    width: 90vw;
  }
  .nuestroequipo h2 {
    font-size: 2em;
  }
  .nuestroequipo p {
    width: 90vw;
    text-align: center;
  }
  .box-data {
    margin-top: 50px;
    height: 70vh;
    gap: 10px;
    flex-direction: column;
  }
  .box-data p {
    font-size: 0.5em;
    width: 95vw;
    text-align: center;
  }
  .box-servicios {
    margin-top: 200px;
  }
  .box-servicios h2 {
    width: 85vw;
  }
  .box-servicios p {
    text-align: center;
    width: 85vw;
    margin-bottom: 150px;
  }
  .cnt-servicios {
    flex-direction: column;
  }
  .box-servicios-img {
    width: 90vw;
    flex-direction: column;
  }
  .box-servicios-img2 {
    margin-top: 825px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .box-servicios-img2 div {
    width: 90vw;
    margin-bottom: 20px;
  }
  .box-servicios-img2 p {
    margin-top: 475px;
  }
  .box-empezamos {
    margin-top: -100px;
    text-align: center;
    width: 90vw;
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }
  .box-empezamos div {
    width: 90vw;
    flex-direction: column;
  }
  .box-testimonios {
    margin-top: -300px;
    justify-content: center;
    align-items: center;
  }
  .testimonios {
    margin-top: 150px;
    justify-content: center;
    align-items: center;
  }
  .box-contacto {
    flex-direction: column;
    margin-top: -200px;
    height: 1200px;
  }
  .cnt-contacto {
    position: relative;
    width: 80vw;
  }

  .box-contacto h2 {
    font-size: 2rem;
  }

  .box-contacto p {
    width: 90vw;
  }

  form input {
    width: 60vw;
  }
  .img-form{
    display: none;
  }
  .box-footer{
    align-items: center;
    margin-left: 0;
    padding: 0;
    margin-bottom: 52px;
    margin-top: -100px;
    flex-direction: column;
  }
  .box-footer h3{
  padding: 10px;
    width: 50vw;
       font-size: 2rem;
  }
  .text-footer{
    margin-bottom: 100px;
    margin-left: -200px;
  }
  .box-info{
    width: 90vw;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

}
