@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: #141414;
}
h2{
  font-size: 7em;
    font-weight: bold;
}
span{
  color: #ff8800;
}

@media (max-width: 1250px) {

  h2{
    font-size: 4em;
  }
  
}